{% extends 'base.html' %}

{% block title %}
Events
{% endblock %}

{% block content %}
<h1 class="text-center mb-4">Events</h1>
<div class="container">
    <div class="row">
        {% for e in event %}
        <div class="col-md-4 mb-4"> <!-- Added margin bottom for spacing between rows -->
            <div class="card mb-4 shadow-lg rounded" style="width: 100%;">
                <img src="{{e.image.url}}" class="card-img-top" alt="{{e.name}}" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: bold;">{{e.name}}</h5>
                    <p class="card-text" style="color: #555; text-align: justify;">{{e.desc}}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'booking' %}" class="btn btn-primary btn-sm">Book</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
